<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/parking-detail.css">
        <link rel="stylesheet" href="/css/parking-preview.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">

        <title>
            Page 
        </title>
    </head>
    <body>
        <header class="header">
            <a href="#" class="logo"><img src="/img/cmu_parkcheck_logo.png" alt="logo" width="400" height="100"></a>
        </header>
        <!-- navbar -->
        <nav class="navbar">
            <a href="/admin-manage-parking" class="parking-management">Parking Management</a>
            <a href="/admin-complaints-dashboard">Parking complaints</a>
        </nav>