<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/parking-detail.css">
        <link rel="stylesheet" href="/css/parking-preview.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <title>
            Page 
        </title>
    </head>
    <body>
        <header class="header">
            <a href="#" class="logo"><img src="/img/cmu_parkcheck_logo.png" alt="logo" width="400" height="100"></a>
        </header>
        <!-- navbar -->
        <nav class="navbar">
            <a href="/cmu-parkcheck/views/pages/index.ejs" class="home">Home</a>
            <a href="/complaints">Parking complaints</a>
        </nav>