<!-- <div id="parking-area-preview" class="info-window">
    <h3><%=parking_area.name%></h3>
    <p>Latitude:<%=parking_area.latitude%></p>
    <p>Longitude:<%=parking_area.longitude%></p>
    <a href="/cmu-parkcheck/views/pages/parking-details.ejs">see more</a>
</div> -->