<div id="myclock" class="myclock"> HH:MM:SS AM/PM</div>        
<script src="https://code.jquery.com/jquery-3.6.1.js">
    integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossOrigin="anonymous"
</script>
<script src="/js/script.js"></script>