.pop-up{
    width: 300px;  /* Set the width of the box */
    height: 100px; /* Set the height of the box */
    background-color: #872698; 
    border-radius: 25px;
    position: absolute;
    left: 10px;
    top: 240px 
}
.pop-up h3{
    font-size: 20px;
    margin-left: 10px;
    color: white;
}
.pop-up a{
    font-size: 16px;
    margin-left: 220px;
    color: white;
}

.detail-box1{
    width: 600px;  
    height: 80px; 
    background-color: #fbf2fc; 
    position: absolute;
    right: 50px;
    top: 630px
}
.detail-box1 h3{
    font-size: 16px;
    text-align: center;
}
