.info-feedback {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}
.detail-clock{
    position: absolute;
    top: 25%;
    left: 50%;
    align-self: center;
    /* padding: 20px 40px 20px 40px; */
    border-radius: 10px;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    text-decoration-color: white;
    color: white;
    /* box-shadow: -4px -5px 50px 10px white; */
    transform: translate(-50%);
    z-index: 1000;
}
.word {
    font-size: 4vw;
    text-align: center;
    margin-top: 150px;
    font-weight: bold;
}

.like {
    margin-top: 5%; /* Adjust spacing between text and icons */
}

.like i {
    font-size: 5vw;
    margin: 0 2vw; /* Adjust spacing between icons */
    color: #000; /* Adjust icon color */
}
.like i.like-icon:hover {
    color: green;
}

.like i.dislike-icon:hover {
    color: red;
}
