.info-feedback {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

.word {
    font-size: 4vw;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.like {
    margin-top: 5%; /* Adjust spacing between text and icons */
}

.like i {
    font-size: 5vw;
    margin: 0 2vw; /* Adjust spacing between icons */
    color: #000; /* Adjust icon color */
}
