.header{
    background-color: #fbf2fc ;
}

/* Reset some basic styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}
@media (max-width: 800px) {
    .header .logo img {
        width: 250px; /* Smaller logo on small screens */
        height: 100px;
    }
}

/* Style the navigation bar */
.navbar {
    background-color: #872698 ; 
    overflow: hidden; /* Clear floats */
    text-align: left; /* Center-align the items */
    padding: 0.5px 0; /* Vertical padding */
    
}

/* Style the links inside the navbar */
.navbar a {
    color: #ffffff; 
    padding: 14px 20px; /* Padding around the links */
    text-decoration: none; /* Remove underline */
    font-family: Arial, sans-serif; /* Font style */
    font-size: 2vw; /* Font size */
    display: inline-block; /* Inline-block to respect padding */
}

/* Change font weight on hover */
.navbar a:hover {
    font-weight: bold; /* Bold text on hover */
}

/* Add responsiveness for smaller screens */
@media (max-width: 800px) {
    .navbar a {
        display: block; /* Stack links vertically */
        padding: 10px 0; /* Adjust padding */
        font-size: 4vw;
    }
}
.home{
    font-weight: bold
}
.box {
    width: 600px;  /* Set the width of the box */

    height: 320px; /* Set the height of the box */
    background-color: #fbf2fc; 
    position: absolute;
    right: 50px;
    top: 220px;
    height: 350px; /* Set the height of the box */
    background-color: #fbf2fc ; /* Set the background color to red */
    position: absolute;
    right: 100px;
    top: 200px;
}
.input-box input{
    width: 535px;
    height: 10px;

    background:  #fbf2fc;
    background:  #fbf2fc ;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 1vw;
    color:black;
    padding: 20px 45px 20px 20px;
    position: absolute;
    right: 50px;
    top: 570px;
    right: 100px;
    top: 575px;
}
.input-box input::placeholder{
    color:black
}
.input-box i {
    position: absolute;
    right: 60px;
    top: 595px;
    right: 120px;
    top: 600px;
    transform: translateY(-50%);
    font-size: 2vw;
}
/* time */
.myclock{
    position: absolute;
    top: 10%;
    left: 50%;
    align-self: center;
    padding: 20px 40px 20px 40px;
    border-radius: 10px;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    text-decoration-color: white;
    color: white;
    background-color: #9C27B0;
    box-shadow: -4px -5px 50px 10px white;
    transform: translate(-50%);
    z-index: 1000;
}

@media (max-width: 800px) {
    .box {
        width: 70%; /* Make the box smaller on small screens */
        height: 30%;
        top: 220px;
        
    }
    .input-box input{
        width: 62%; /* Make the box smaller on small screens */
        height: 10px;   
        top: 575px;
    }
    .input-box i {
        size: 20px;
        top: 600px;
    }
    .myclock{
        size: small;
    }
}
#map{
    flex: 1;
    height: calc(100vh - 100px);
    width: 55vw;
    position: relative;
}