<%- include("../partials/header") %>
<%- include("../partials/map") %>
<div class="box">
    <%- include("../partials/time") %>
</div>

<div class="input-box">
    <input type="text" placeholder="Input your destination..." name="Input" required>
    <i class='bx bxs-edit-location'></i>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous"></script>
<script src="/js/script.js"></script>