<%- include("../partials/header") %>
<div id="message" style="display: none; position: fixed; top: 165px; left: 30%; transform: translateX(-50%); background-color: lightgreen; padding: 10px; border: 1px solid green; border-radius: 5px; z-index: 1000;">
    Your vehicle parking location has been saved!
</div>
<div id="map-container">
    <%- include("../partials/map") %>
    <div class="btn-container">
        <button class="btn" id="btn-all">all</button>
        <button class="btn" id="btn-car">car</button>
        <button class="btn" id="btn-motorbike">motorbike</button>
    </div>
</div>

    <%- include("../partials/time") %>

<div class="input-box">
    <input type="text" placeholder="Input your destination..." id="destination-input" required>
    <i class='bx bxs-edit-location'></i>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous"></script>
<script src="/js/script.js"></script>