<%- include("../partials/header") %>
<div class="info-feedback">
    <%- include("../partials/time") %>
    <div class="word">
        <a>Behind Old CAMT Building</a>
    </div>
    <div class="like">
        <i class='bx bx-like'></i>
        <i class='bx bx-dislike' ></i>
    </div>
</div>
