
<%- include("../partials/header") %>

<div class="info-feedback">
    <div class="detail-clock"><%- include("../partials/time") %></div>
      <div class="word">
        <p><%= parkingArea.name %></p>
        <div class="gmaps_link">
        <p><a href="<%= parkingArea.google_maps_link %>"><img src="/img/maps_logo.png" alt="maps_photo"></a></p>
        </div>
    </div>
    <div class="like">
        <i class='bx bx-like like-icon'></i>
        <i class='bx bx-dislike dislike-icon' ></i>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous"></script>
<script src="/js/script.js"></script>
